/// Variables
$background-color: #f8f8f8;
$gradientgrid-color: #ffffff;
$maintext-color: #1b1c21;
$bordericongrid-color: #eaeaea;
$anothertext-color: #7e7e82;
$pagination-color: #dddddd;
$twopagination-color: #b5b6bc;
$servicesborder-color: #41f6d7;
$servicesbutton-color: #b8ffec;
$titlesborder-color: #d9fff5;
$pricesbutton-color: #ff3e79 ;

