@use 'variables' ;
@use 'mixins';
@use 'fonts';

body {
  box-sizing: border-box;
  font-family: 'TT Lakes';
  font-size: 16px;
}

.slider {
  display:none;
  width: 320px;
  box-shadow: 10px 0px 35px 0px rgba(0, 0, 0, 0.2);
  &_nav {
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
  }
  &_left {
    display: flex;
    float: left;
  }
  &_right {
    display: flex;
    float: right;
    justify-content: flex-end;
    margin-right: 24px;
  }
  &_right_button {
    margin-top: 20px;
    padding: 0;
  }
  
  
  &_left_button {
    margin-top: 20px;
    padding: 0;
    margin-right: 20px;
  }


  &_services {
    display: flex;
    flex-direction: column;
    width: 222px;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
  }
  &_services_div {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 0 24px;
    font-family: 'TT Lakes';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
  }
 
  &_services_divA {
      margin: 30px 0 0 0;
      padding: 4px 30px 4px 26px;
      border-left: 4px solid variables.$servicesborder-color;
      border-top: none;
      border-right: none;
      border-bottom: none;
      color: variables.$anothertext-color;
      background: variables.$gradientgrid_color;
  }
  &_buttom{
    display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 24px;
  margin-top: 200px;
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  top: 74vh;
  }
&_icons_parth{
  margin-right: 20px;
}

&_buttom_first{
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
&_buttom_last_phone{
  font-family: "TT Lakes";
  font-style: bold;
  font-weight: 700; 
  font-size: 20px;
  line-height: 28px;
}

&_buttom_last_button{
   font-family: "TT Lakes";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  // line-height: 28px;
  color: #1b1c21;
  margin-right: 24px;
}
&_services_div,
&_buttom_icons,
&_buttom_last_button,
&_buttom_second,
&_icons_parth,
&_left_button,
&_right_button
{
 border: none;
  background: #ffffff;
}
&_services_div,
&_buttom_icons,
&_buttom_last_button,
&_buttom_second,
&_icons_parth,
&_left_button,
&_right_button,
&_services_divA,
&_buttom_first
{
 transition: all 0.2s ease;
}
&_services_div:hover,

&_buttom_last_button:hover,
&_buttom_second:hover,
&_icons_parth:hover,
&_left_button:hover,
&_right_button:hover,
&_services_divA:hover,
&_buttom_first:hover,
&_buttom_last_phone:hover
{
cursor: pointer;

  text-decoration: underline #ff3e79;

  transform: scale(1.1);
}
&_buttom_last_button
{
font-family: "TT Lakes";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.ru{
  color: #7e7e82;
}
&_buttom_icons,
&_buttom_last
{display:flex;

}
}

.nav_menu{
  display:none;
}

.services {
 background-color: variables.$background-color;

 &_amenities {
  display: flex;
}

&_left{
  float: left;
}

&_right {

display: flex;
flex-direction: row;
float: right;
}

&_labels{
  border:none;
  background-color: variables.$background-color;
   display: flex;
    // justify-content: center;
    align-items: center;
    margin-right: 16px;
}

 &_left_main {
  margin: 30px 42px 0 0;
      padding: 0 0 0 16px;
      border-left: 6px solid variables.$servicesborder-color;
      border-top: none;
      border-right: none;
      border-bottom: none;
      color: variables.$maintext-color;
      // background: variables.$gradientgrid_color;
      font-size:28px;
      font-weight: 700;
}

&_nav{
    display: flex;
  /* gap: 10px; */
  margin: 20px 20px 0 16px;
  padding: 3px;
  background-color: variables.$background-color;
  justify-content: flex-start;
  align-items: center;

  overflow-x: auto;
  scrollbar-width: none; 
}

&_nav_up_button{
  display: flex;
  text-wrap: nowrap;
  color:  variables.$anothertext-color;
  font-family: "TT Lakes";
  font-size: 16px;
  border: none;
  background: none;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
  /* width: 246px; */
  height: 40px;
  padding: 5px 5px 5px 12px;
  cursor: pointer;
  width: auto;
}

&_nav_up_button:hover{
   background-color: variables.$gradientgrid-color;
  border: variables.$servicesbutton-color 2px solid;
  border-radius: 6px;
}

&_down_button_reviews{
  margin: 16px;
  padding: 0 0 0 16px;
  // display: none;
}

&_main{
  background-color: variables.$background-color;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

&_main_about{
   font-family: "TT Lakes";
  font-size: 14px;
  font-weight: 400;
  color: variables.$maintext-color;
  line-height: 20px;
  letter-spacing: 0.2px;
}

&_main_title_hiden{
  display:none;
}

&_main_button_visible{
   display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: variables.$background-color;
  margin: 0 0 10px 5px;
  padding: 10px;
  cursor: pointer;
}

&_main_button_hidden{
  display:none;
}


}

.repair {
  background-color: variables.$background-color;
  width: 100%;

&_brands_container,
&_types_main
{
  display: flex;
  flex-wrap: wrap;
}

&_brands_container_hidden,
&_types_main_hidden
{
 display: none;
  flex-wrap: wrap;
}

  &_brands_container_parth
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: variables.$gradientgrid-color;
    border: variables.$bordericongrid-color 1px solid;
    border-radius: 5px;
    margin:0 0 16px 24px ;
    height: 40px;
    width: 208px;
    padding: 16px;
  }

&_types_main_parth {
   display: flex;
    align-items: center;
    justify-content: space-between;
    background: variables.$gradientgrid-color;
    border: variables.$bordericongrid-color 1px solid;
    border-radius: 5px;
    margin:0 0 16px 24px ;
    height: 128px;
    width: 208px;
    padding: 16px;
}

  &_brands_container_parth_hidden
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: variables.$gradientgrid-color;
    border: variables.$bordericongrid-color 1px solid;
    border-radius: 5px;
    margin:0 0 16px 24px ;
    height: 40px;
    width: 208px;
    padding: 16px;
  }

  &_types_main_parth_hidden {
     display: flex;
    align-items: center;
    justify-content: space-between;
    background: variables.$gradientgrid-color;
    border: variables.$bordericongrid-color 1px solid;
    border-radius: 5px;
    margin:0 0 16px 24px ;
    height: 128px;
    width: 208px;
    padding: 16px;
  }

  &_brands_swiper_pagination-active,
  &_types_swiper_pagination-active
   {
    background: variables.$twopagination-color;
  }

  &_brands_swiper_pagination,
  &_types_swiper_pagination 
  {
    background: variables.$pagination-color;
}


&_brands_buttons,
&_types_buttons {
  padding-bottom: 30px;
}


&_brands_button,
&_types_button
{
font-family: "TT Lakes";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: variables.$maintext-color;
  background: variables.$background-color;
  border: none;
  /* margin-bottom: 50px; */
  margin-left: 24px;
}

&_brands_button_hidden,
&_types_button_hidden 
{
  display:none;
}
}

.prices{
  background-color: variables.$background-color;
font-family: 'TT Lakes';
&_main {
  margin:24px;
}


  &_main_up{
    display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
    
  }

  &_main_about{
    background-color:variables.$gradientgrid-color;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 40px);
  padding: 10px;
  border-radius: 10px;
  
  }

&_about{
  border-bottom: 2px variables.$bordericongrid-color solid;
  // border-top: 5px variables.$gradientgrid-color solid;
}  

  &_button {
    border: none;
    background-color: variables.$pricesbutton-color;
    color: variables.$gradientgrid-color ;
    border-radius: 15px;
    // text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 6px;
    font-family: 'TT Lakes';
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.15px;
height: 32px;
width: 119px;

  }
}

.commercial {
background-color: variables.$background-color ;

  &_proposal {
    font-weight: 400;
    font-size: 14px;
    color: variables.$maintext-color;
    width: 421px;
    height: 60px;
    margin: 16px 24px;
  }

  &_button{
    font-family: "TT Lakes";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  display: flex;
  align-items: center;
  color: variables.$maintext-color;
  background: variables.$background-color;
  border: none;
  /* margin-bottom: 50px; */
  margin-left: 24px;
  }
}

.buttoms {
  display: flex;
  justify-content: space-between;
  background-color: variables.$background-color;
  margin : 24px;
&_left {
  display: flex;
  justify-content: start;
  width: 218px;
  height: 32px;
  font-size: 14px;
}
&_center {
  display: flex;
  justify-content: center;
   width: 214px;
  height: 16px;
  font-size: 14px;
}
&_right {
  display: flex;
  justify-content: flex-end;
   width: 213px;
  height: 48px;
  font-size: 14px;
}
}