@font-face {
  font-family: "TT Lakes";
  src: url("/src/fonts/TTLakes/TTLakes-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes";
  src: url("/src/fonts/TTLakes/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("/src/fonts/TTLakes/TTLakes-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
body {
  box-sizing: border-box;
  font-family: "TT Lakes";
  font-size: 16px;
}

.slider {
  display: none;
  width: 320px;
  box-shadow: 10px 0px 35px 0px rgba(0, 0, 0, 0.2);
}
.slider_nav {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
}
.slider_left {
  display: flex;
  float: left;
}
.slider_right {
  display: flex;
  float: right;
  justify-content: flex-end;
  margin-right: 24px;
}
.slider_right_button {
  margin-top: 20px;
  padding: 0;
}
.slider_left_button {
  margin-top: 20px;
  padding: 0;
  margin-right: 20px;
}
.slider_services {
  display: flex;
  flex-direction: column;
  width: 222px;
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
}
.slider_services_div {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0 0 24px;
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
.slider_services_divA {
  margin: 30px 0 0 0;
  padding: 4px 30px 4px 26px;
  border-left: 4px solid #41f6d7;
  border-top: none;
  border-right: none;
  border-bottom: none;
  color: #7e7e82;
  background: #ffffff;
}
.slider_buttom {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 24px;
  margin-top: 200px;
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  top: 74vh;
}
.slider_icons_parth {
  margin-right: 20px;
}
.slider_buttom_first {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.slider_buttom_last_phone {
  font-family: "TT Lakes";
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
.slider_buttom_last_button {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #1b1c21;
  margin-right: 24px;
}
.slider_services_div, .slider_buttom_icons, .slider_buttom_last_button, .slider_buttom_second, .slider_icons_parth, .slider_left_button, .slider_right_button {
  border: none;
  background: #ffffff;
}
.slider_services_div, .slider_buttom_icons, .slider_buttom_last_button, .slider_buttom_second, .slider_icons_parth, .slider_left_button, .slider_right_button, .slider_services_divA, .slider_buttom_first {
  transition: all 0.2s ease;
}
.slider_services_div:hover, .slider_buttom_last_button:hover, .slider_buttom_second:hover, .slider_icons_parth:hover, .slider_left_button:hover, .slider_right_button:hover, .slider_services_divA:hover, .slider_buttom_first:hover, .slider_buttom_last_phone:hover {
  cursor: pointer;
  text-decoration: underline #ff3e79;
  transform: scale(1.1);
}
.slider_buttom_last_button {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.slider .ru {
  color: #7e7e82;
}
.slider_buttom_icons, .slider_buttom_last {
  display: flex;
}

.nav_menu {
  display: none;
}

.services {
  background-color: #f8f8f8;
}
.services_amenities {
  display: flex;
}
.services_left {
  float: left;
}
.services_right {
  float: right;
  display: inline;
}
.services_labels {
  border: none;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  margin-right: 16px;
}
.services_left_main {
  margin: 30px 42px 0 0;
  padding: 0 0 0 16px;
  border-left: 6px solid #41f6d7;
  border-top: none;
  border-right: none;
  border-bottom: none;
  color: #1b1c21;
  font-size: 28px;
  font-weight: 700;
}
.services_nav {
  display: inline;
  /* gap: 10px; */
  margin: 20px 20px 0 16px;
  padding: 3px;
  background-color: #f8f8f8;
  justify-content: flex-start;
  align-items: center;
}
.services_nav_up {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  flex-wrap: nowrap;
  scrollbar-width: none;
}
.services_nav_up_button, .services_down_button_reviews {
  display: flex;
  text-wrap: nowrap;
  color: #7e7e82;
  font-family: "TT Lakes";
  font-size: 16px;
  border: none;
  background: none;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
  /* width: 246px; */
  height: 40px;
  padding: 5px 12px;
  cursor: pointer;
  width: auto;
}
.services_nav_up_button:hover, .services_down_button_reviews:hover {
  background-color: #ffffff;
  border: #b8ffec 2px solid;
  border-radius: 6px;
}
.services_main {
  background-color: #f8f8f8;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  flex-direction: row;
}
.services_main_about {
  display: flex;
  float: left;
  max-width: 506px;
  height: auto;
  justify-content: flex-start;
  align-items: column;
  flex-wrap: wrap;
  margin-left: 24px;
}
.services_main_title {
  font-family: "TT Lakes";
  font-size: 14px;
  font-weight: 400;
  color: #1b1c21;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.services_main_title_hiden {
  display: none;
}
.services_main_button_visible {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #f8f8f8;
  margin: 0 0 10px 5px;
  padding: 10px;
  cursor: pointer;
}
.services_main_button_hidden {
  display: none;
}
.services_main_poster {
  display: flex;
  float: right;
  border-radius: 6px;
  width: 531px;
  height: 307px;
  /* width: 44%; */
  margin: 0 16px 30px 16px;
  /* overflow: hidden; */
}

.repair {
  background-color: #f8f8f8;
  width: 100%;
}
.repair_brands_container, .repair_types_main {
  display: flex;
  flex-wrap: wrap;
}
.repair_brands_container_hidden, .repair_types_main_hidden {
  display: none;
  flex-wrap: wrap;
}
.repair_brands_container_parth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border: #eaeaea 1px solid;
  border-radius: 5px;
  margin: 0 0 16px 24px;
  height: 40px;
  width: 208px;
  padding: 16px;
}
.repair_types_main_parth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border: #eaeaea 1px solid;
  border-radius: 5px;
  margin: 0 0 16px 24px;
  height: 128px;
  width: 208px;
  padding: 16px;
}
.repair_brands_container_parth_hidden {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border: #eaeaea 1px solid;
  border-radius: 5px;
  margin: 0 0 16px 24px;
  height: 40px;
  width: 208px;
  padding: 16px;
}
.repair_types_main_parth_hidden {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border: #eaeaea 1px solid;
  border-radius: 5px;
  margin: 0 0 16px 24px;
  height: 128px;
  width: 208px;
  padding: 16px;
}
.repair_brands_swiper_pagination-active, .repair_types_swiper_pagination-active {
  background: #b5b6bc;
}
.repair_brands_swiper_pagination, .repair_types_swiper_pagination {
  background: #dddddd;
}
.repair_brands_buttons, .repair_types_buttons {
  padding-bottom: 30px;
}
.repair_brands_button, .repair_types_button {
  font-family: "TT Lakes";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #1b1c21;
  background: #f8f8f8;
  border: none;
  /* margin-bottom: 50px; */
  margin-left: 24px;
}
.repair_brands_button_hidden, .repair_types_button_hidden {
  display: none;
}

.titles {
  border-top: 1px #d9fff5 solid;
  background: linear-gradient(45deg, #f8f8f8, #ffffff);
  color: #7e7e82;
  font-size: 16px;
  padding: 16px 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.prices {
  background-color: #f8f8f8;
  font-family: "TT Lakes";
}
.prices_main {
  margin: 24px;
}
.prices_main_up {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}
.prices_main_about {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 40px);
  padding: 10px;
  border-radius: 10px;
}
.prices_about {
  border-bottom: 2px #eaeaea solid;
}
.prices_button {
  border: none;
  background-color: #ff3e79;
  color: #ffffff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "TT Lakes";
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.15px;
  height: 32px;
  width: 119px;
}

.commercial {
  background-color: #f8f8f8;
}
.commercial_proposal {
  font-weight: 400;
  font-size: 14px;
  color: #1b1c21;
  width: 421px;
  height: 60px;
  margin: 16px 24px;
}
.commercial_button {
  font-family: "TT Lakes";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  display: flex;
  align-items: center;
  color: #1b1c21;
  background: #f8f8f8;
  border: none;
  /* margin-bottom: 50px; */
  margin-left: 24px;
}

.buttoms {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 24px;
  border-top: 1px #d9fff5 solid;
}
.buttoms_left {
  display: flex;
  justify-content: start;
  width: 218px;
  height: 32px;
  font-size: 14px;
}
.buttoms_center {
  display: flex;
  justify-content: center;
  width: 214px;
  height: 16px;
  font-size: 14px;
}
.buttoms_right {
  display: flex;
  justify-content: flex-end;
  width: 213px;
  height: 48px;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
