@use 'variables';
@use 'mixins';
@use 'fonts';

body {
  box-sizing: border-box;
  font-family: 'TT Lakes';
  font-size: 16px;
}

.slider {
  width: 320px;
  box-shadow: 10px 0px 35px 0px rgba(0, 0, 0, 0.2);
  &_nav {
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
  }
  &_left {
    display: flex;
    float: left;
  }
  &_right {
    display: flex;
    float: right;
    justify-content: flex-end;
    margin-right: 24px;
  }
  &_right_button,
  &_left_button {
    margin-top: 20px;
    padding: 0;
  }
  &_services {
    display: flex;
    flex-direction: column;
    width: 222px;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
  }
  &_services_div {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 0 24px;
    font-family: 'TT Lakes';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
  }
  &_services_first {
    &_services_first {
      margin: 30px 0 0 0;
      padding: 4px 30px 4px 26px;
      border-left: 4px solid variables.$bordericongrid-color;
      border-top: none;
      border-right: none;
      border-bottom: none;
      color: variables.$anothertext-color;
      background: variables.$gradientgrid_color;
    }
  }
}
